html{
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
	height:100%;
    background: #000;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*****_______ HEADER _______*****/ 
.header{
    width: 100%;
    height: 75px;
    background: #000;
}
.header ul{
    list-style: none;
    padding: 15px;
    margin: 0;
    display: flex;
}
/* .header ul  */
.header li {
    display: inline;
    background: white;
    padding: 10px;
    border-radius: 10px;
}
.header .NoRadius{
    border-radius: 0px;
    background: black;
}
.header ul li+li{
    margin-left:10px ;
}
.header ul .divider{
	flex-grow:1;
	background : black;
	padding: 0;
}
.header ul .divider2{
	flex-grow:3;
	background : black;
	padding: 0;
}
.header ul li a {
    text-decoration: none;
    color: black;
    font-size: 22px;
}
.header ul  .active{
    background: lightgrey;
}
.header .button{
    margin:5px 20px 0 0;
    float: right;
    background: white;
    padding: 10px;
    border-radius: 10px;
}
.header .button a{
	text-decoration: none;
    color: black;
    font-size: 15px;
}
.header ul .logOut {
	color: white;
}
.header ul .black_li{
	background : black;
}
/*****_______ CONTENT_______*****/ 
.content{
    width: 100%;
    background: white;
    flex-grow: 1;
}
.content_flex{
    display: flex;
    background: white;
    flex-grow: 1;
    white-space: wrap;
}
 .conten_products{
 	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
 }
.products_bloc{
    margin: 50px 2%;
    height: 362px;
    width: 250px;
    border: 1px solid black;
 }
 .products_bloc a{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
 }
 .products_bloc p{
    padding-left: 5px ;
 }
 img{
    padding: 4px;
    height: 192px;
    width: 222px;
 }
 .content_left{
 	flex-grow: 2;
 	flex-wrap: wrap;
 	display: flex;
 	justify-content: space-around;
 	overflow: auto;
 }
 .content_right{
 	flex-grow: 1;
 }
 .content_box{
 	height: 300px;
 	width: 30%;
 	margin: 15px;
}
.content_right_p{
	padding: 100px 0 0 0;
}
.chek{
    width: 300px;
}
.chek p{
    padding: 15px 30px;
    border-bottom: 1px solid black; 
}
.chek_button{
    text-align: center;
}
.Concten_divider{
	margin:50px auto;
}
.input{
	padding: 4px;
    background: black;
    color: whitesmoke;
    border-style: unset;
    border-radius: 15px;
    margin-right: 10px;
}
.textArea{
	cols: 21;
	rows: 5;
	name: comment;
	resize: none; 
	background: black;
	color: white;
}
.radio_btn{
    color: white;
    background: black;
}
/*****_______ Profile _______*****/ 

.Concten_divider ul{
    list-style: none;
    padding: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.Concten_divider li{
	padding: 10px;
}
/*****_______ User _______*****/ 
.radio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 10px;
  }
  
.container:hover input ~ .checkmark {
    background-color: black;
  }
  
.container input:checked ~ .checkmark {
    background-color: black;
  }
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
.container input:checked ~ .checkmark:after {
    display: block;
  }
  
.container .checkmark:after {
    top: 8px;
    left: 8px;
    width: 9px;
    height: 9px;
    border-radius: 10px;
    background: white;
  }
.container{
    margin-right: 5px;
}
.pages{
	margin-bottom: 10px;
}
.pages a{
	text-decoration: none;
    color: black;
    font-size: 22px;
}
/*****_______ Cart _______*****/ 
.Empty{
	margin-top: 150px;
}
/*****_______ FOOTER _______*****/ 
.footer{
    width: 100%;
    height: 35px;
    background: #000;
    margin: 0;
}
.footer p{
    padding-top:10px;
    text-align: center;
    margin: 0;
    color: white;
}